ansible_lab.pem
ansible-lab-user_accessKeys.csv
Terraform/.terraform.lock.hcl
Terraform/terraform.tfstate
Terraform/terraform.tfstate.backup
Terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.70.0/windows_amd64/LICENSE.txt
Terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.70.0/windows_amd64/terraform-provider-aws_v5.70.0_x5.exe
Terraform/.terraform/providers/registry.terraform.io/hashicorp/aws
